<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner Certificate</title>
    <style>
        /* Add your styles here */
    </style>
</head>
<body>
    <div class="certificate">
        <p>This is to certify that</p>
        <h1>{{name}}</h1>
        <p>of</p>
  
        <p>has secured</p>
        <h3>{{winnerType}}</h3>
        <p>position in</p>
        <h4>{{event}}</h4>
    </div>
</body>
</html>
